*
!config/
!includes/
!language/
!other/
!plugins/
!readme/
!service/
!themes/
!write/
!.gitignore
!index.php
!README.md
!rename.htaccess

config/*
!config/multi-host.config.php.UNUSED
!config/PHPDS-defaults.config.php
!config/single-site.config.php.RENAME
!config/index.php

plugins/*
!plugins/About
!plugins/LightModels
!plugins/Mustache
!plugins/NodeHelper
!plugins/PluginManager
!plugins/StandardLogin
!plugins/index.php
!plugins/repository.json

write/cache/
write/compile/
write/private/
write/session/
write/tmp/
write/logs/

