*.a
*.o
*.py[co]
*.so
*.sw[nop]
*~
.#*
[#]*#
.project
.cache
.settings
.htaccess
.buildpath
default.config.php
*local.config.php
host.config.php
%*
*.file.*.tpl.*
sess_*
nbproject
single-site.config.php
multi-host.config.php
other/tests/unittests/diag/coverage/*
other/tests/unittests/framework/includes/*
.bzr
.idea
