/*
!config/
!includes/
!language/
!other/
!plugins/
!readme/
!service/
!themes/
!write/

!.gitignore
!index.php
!README.md
!rename.htaccess

includes/extend/*
!includes/extend/index.php
includes/override/*
!includes/override/index.php

config/*
!config/multi-host.config.php.UNUSED
!config/PHPDS-defaults.config.php
!config/single-site.config.php.RENAME

plugins/*
!plugins/About/
!plugins/LightModels/
!plugins/Mustache/
!plugins/NodeHelper/
!plugins/PluginManager/
!plugins/index.php
!plugins/repository.json

write/cache/*
!write/cache/index.php

write/compile/*
!write/compile/index.php

write/private/*
!write/private/index.php

write/session/*
!write/session/index.php

write/tmp/*
!write/tmp/index.php

write/logs/*
!write/logs/index.php



